.item {
    cursor: pointer;
    padding: 10px;
    background-color: #f9f9f9;
}

.content {
    padding: 10px;
    background-color: #f9f9f9;
}

.routing {
    text-align: left;
    border-bottom: 1px solid #ddd;
}
